div.grid {
  position: absolute;
  top: 50px;
  left: 0px;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  overflow: scroll;
}

div.grid > div {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 5px;
  box-sizing: border-box;
}

div.grid div.row {
  height: 35px;
  line-height: 35px;
  width: max-content;
  margin-bottom: 5px;
}

div.grid div.row div.cell {
  width: 35px;
  height: 35px;
  margin: 0 2.5px;

  display: inline-block;
  border-radius: 2.5px;
}
/* 
div.grid div.fg div.row div.cell.highlighted {
  background-color: #f0f;
} */

div.grid div.fg div.row div.cell {
  background-color: var(--button-bg);
}

div.grid div.bg div.row div.cell.bg.highlighted {
  background-color: var(--border-clr);
  opacity: 0.6;
}
