div.grid {
  position: absolute;
  top: 50px;
  left: 0px;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  overflow: scroll;
  /* background-color: var(--button-hover-bg); */
}

div.grid > div {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 0px;
  box-sizing: border-box;
  margin: 5px;
}

div.grid div.row {
  height: 35px;
  line-height: 35px;
  width: max-content;
  margin-bottom: 2px;
}

div.grid.small div.row {
  height: 15px;
  line-height: 15px;
  margin-bottom: 1px;
}

div.grid div.fg {
  background-color: var(--bg);

  border-radius: 0;
  border: var(--border-clr) 1px solid;
  margin: 5px;
}

div.grid > div.bg {
  border: transparent 1px solid;
}

div.grid.small div.row div.cell {
  width: 15px;
  height: 15px;
  margin: 0 0.5px;
  border-radius: 0.5px;
}

div.grid div.row div.cell {
  width: 35px;
  height: 35px;
  margin: 0 1px;

  display: inline-block;
  border-radius: 0px;
  vertical-align: middle;
  line-height: 35px;
  text-align: center;
}

div.grid div.fg div.row div.cell {
  background-color: var(--button-bg);
}

div.grid div.bg div.row div.cell.bg.highlighted {
  background-color: var(--border-clr);
  opacity: 0.6;
  overflow: visible;
}
