div.ca.shop {
  background-color: var(--bg);
  border: var(--border-clr) 1px solid;
  padding: 15px;
  box-sizing: border-box;
  width: 800px;
  height: 520px;
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
  transition: opacity 0.3s, visibility 0.3s, margin-top 0.3s;
}

div.ca.shop h2.title {
  margin: 5px 0;
}

div.ca.shop div.shopItem {
  display: inline-block;
  margin: 5px;
  margin-top: 2.5px;
  width: calc(100% - 10px);
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  padding-bottom: 50px;
  border-bottom: var(--border-clr) 1px solid;
}

div.ca.shop div.shopItem p.price {
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 0;
  color: var(--clr-green-fg);
}

div.ca.shop div.shopItem p.price span.material-icons {
  font-size: 20px;
  margin-right: 5px;
}

div.ca.shop div.shopItem button.purchase {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

div.ca.shop div.shopItem * {
  vertical-align: middle;
}

div.ca.shop div.shopItem h1.title {
  font-size: 21px;
  margin: 5px 0;
  line-height: 18px;
}

div.ca.shop div.shopItem h1.title span.material-icons {
  margin-right: 7.5px;
  font-size: 20px;
}

div.ca.shop.show,
div.shopbg.show {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

div.shopbg {
  background-color: #0004;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  height: calc(100% - 50px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

div.ca.shop div.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  border-right: var(--border-clr) 1px solid;
  box-sizing: border-box;
  padding: 10px;
}

div.ca.shop div.sidebar button.page {
  text-align: left;
  padding-left: 35px;
  margin-bottom: 10px;
  background-color: transparent;
}

div.ca.shop div.sidebar h3.title {
  margin: 4px;
  text-align: center;
  margin-bottom: 20px;
}

div.ca.shop div.sidebar button.page.selected {
  color: var(--clr-blue-fg);
}

div.ca.shop div.content {
  position: absolute;
  top: 0px;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
}

div.ca.shop div.content h3.title {
  margin: 5px 15px;
  text-align: center;
}
